main = "./src/index.ts"
name = "partycalendar"
compatibility_date = "2024-11-11"
routes = [
	{ pattern = "{{__SECRET__DOMAIN__}}/*", custom_domain = true }
]
[observability.logs]
enabled = true

[triggers]
crons = ["0 0 0 * * ? *"]

[build]
command = "npm install;npm run build"
watch_dir = "src"

[kv_namespaces]
binding = {{__SECRET__KV_NAMESPACE__}}
id = {{__SECRET__KV_ID__}}